/* 整体盒子*/
			#orderBox{ width: 1260px; height: 1000px; margin-top: 0px;  }
/* 管理导航*/
	#status-up{ width: 1260px; height:40px ; }
	#up-left{ width: 600px; height: 50px;  float: left; }
	#up-right{ width: 400px; height: 50px;  float: right;}
	#status-ul{ list-style: none; }
	.status-btn{ float: left;  margin-left: 20px; background: none; border: none; color:#5B5C5E ; font-size: 16px ; width: 60px; height: 20px; cursor:pointer;}
	.status-li{   float:left ;margin-left: 20px; color:#5B5C5E;}
	#status-all{ margin-left: 0px; width: 110px; color: #FF6700;}
	#search-text{ height: 31px; width: 250px; background: none; border: solid 1px; border-color: #B3B3B3; color: #5B5C5E; float: left; margin-top:5px; margin-left:200 px ;}
	#search-btn{ background: url(../img/s-1.png); height: 36px; width: 36px; float: left;margin-left: 0px;  margin-top: 5px; cursor:pointer;}
	
	/*全部有效订单表格*/
	#order-all{position: absolute; top: 129px; }
	.order{ width: 1260px; height: 500px; margin-top: 10px;  margin-left: 20px;}
	.order-table{ width: 1260px; height: 200px; margin: 0 auto; margin-top: 20px; border: solid 1px; border-color:#B3B3B3 ;  padding-left: 30px; padding-right: 30px;}
	.order-tr1{ height: 50px;}
	.order-td1{ width: 1810px; height: 80px; }
	.order-table{ font: 28px"细黑体";}
	.order-span1{ font-size:28px ; line-height: 50px;}
	.order-span2{ font-size:16px ; color: #5B5C5E;}
	.order-a1{color: #5B5C5E; text-decoration: none;}
	.order-img1{ float: left; width: 90px;height: 90px; margin-right: 30px;}
	.order-span3{ font-size: 18px ;}
	.order-span4{ font-size:32px ; }
	.order-div1 { float: right;}
	.order-span5{  font-size: 20px;}
	.order-div2{ font-size: 21px; width: 480px;  height: 60px; }
	.details{ width: 150px; height: 50px; background: none; float: right;cursor:pointer; }
	.goPay{width: 150px; height: 50px; background: none; float: right; cursor:pointer; background: #FF6700; color: white;}
	/* 未支付表格*/
	#order-unpay{ position: absolute; top: 129px;  display: none; }
	#order-unpay table{ border: solid 1px #FF6700;}
	#nopay{border: solid 1px #FF6700;}
	/*已发货表格*/
	#order-Send{ position: absolute; top: 129px;  display: none; }
	/*未发货表格*/
	#order-noSend{  position: absolute; top: 129px;  display: none; }
	/*失效订单*/
	#order-invalid{  position: absolute; top: 129px;  display: none; }
	#status-invalid{ width: 80px;}
/*返回首页*/
	#return-1{ float:right; position: fixed; top: 20px ; right: 60px;}
	#return-a{   color: #FF6700; text-decoration: none;}